.services-top-section {
  max-width: 600px;
  margin: 0 auto;
}

.services_swiper a {
  background: var(--e-global-color-accent);
  color: white;
  border: 0;
  padding: 10px 20px;
  border-radius: 30px 20px 0px 0px;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  width: 90% !important;
}
.services_swiper .swiper-slide {
  width: auto !important;
}

.Tabs-services {
  padding: 120px 0px;
}

.custom-timeline li {
  font-size: 16px;
  padding: 0 0 23px 12px;
  position: relative;
  color: white;
}
.custom-timeline li span {
  width: 36px;
  height: 36px;
  border: 9px solid #03090c;
  background-color: #fff;
  border-radius: 50%;
  top: -5px;
  left: -6%;
  z-index: 1;
  position: absolute;
}
.custom-timeline li:after {
  content: "";
  width: 3px;
  height: 100%;
  position: absolute;
  left: -21px;
  top: 0;
  margin: auto;
  background: var(--e-global-color-accent);
}
.custom-timeline .last::after {
  height: 14px;
}
.custom-timeline li span:after {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: #03090c;
  border-radius: 50%;
  top: 2px;
  left: 2px;
}
.slick-next {
  right: -5px !important;
}
