.loader-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.5s ease-in-out;
}

.loader {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.loader-container.loader-hidden {
  opacity: 0;
}
