.navbar-brand {
  margin-right: 180px;
  max-width: 9%;
}
.navbar {
  padding: 10px 0;
}
.navbar-collapse ul {
  text-align: center;
  align-items: center;
  display: inherit;
}
.navbar-nav li:first-child {
  margin-left: 0;
}
.navbar-nav li {
  margin: 0px 10px 0 12px;
}
.navbar-nav .active > a {
  color: var(--e-global-color-accent) !important;
}
.navbar-nav .nav-item a {
  font-size: 16px;
  line-height: 16px;
  font-weight: 600;
  color: var(--e-global-color-white) !important;
  transition: all 0.3s ease-in-out;
}
.navbar .outer-div {
  margin-left: 28px;
  z-index: 1;
  width: 24%;
}
.navbar .outer-div .callus_outer {
  top: 0;
  left: 65px;
}
.navbar .outer-div .callus_outer span {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
}
.navbar .outer-div .callus_outer a {
  font-size: 20px;
  line-height: 20px;
  font-weight: 800;
  display: block;
  transition: all 0.3s ease-in-out;
}
#navbarSupportedContent {
  justify-content: flex-end;
}
header {
  border-bottom: 1px solid var(--e-global-color-very-dark-gray);
}
.banner-section-outer::before {
  content: "";
  background-image: url(../../../public//images/close-up.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 7%;
}
.banner-section-outer {
  background-color: #000000;
  overflow: hidden;
}
