.aboutus_section {
  padding: 180px 0;
}
.aboutus_section .about_images .about_img {
  z-index: 2;
}
.aboutus_section .about_images .about_img img {
  border-radius: 40px;
}
.aboutus_section .about_images .shape1 {
  top: -24px;
  left: -24px;
  z-index: 1;
}
.aboutus_section .about_images .shape2 {
  bottom: -40px;
  left: -50px;
  z-index: 1;
}
.aboutus_section .about_images .shape1 img {
  border-radius: 30px;
}
.aboutus_section .about_images .aboutus_img_box {
  display: inline-block;
  width: 38%;
  right: 22px;
  bottom: -40px;
  text-align: center;
  z-index: 2;
  border-radius: 20px;
  padding: 30px 20px 20px;
  background-color: var(--e-global-color-white);
  box-shadow: 0px 19px 54px 0px rgb(0 0 0 / 5%);
  transition: all 0.3s ease-in-out;
}
.aboutus_section .about_images .aboutus_img_box figure {
  margin-bottom: 14px;
}
.aboutus_section .about_images .aboutus_img_box span {
  font-size: 16px;
  line-height: 44px;
  font-weight: 800;
  color: var(--e-global-color-primary);
  transition: all 0.3s ease-in-out;
}
.aboutus_section .about_images .aboutus_img_box:hover {
  background-color: var(--e-global-color-strong-red);
}
.aboutus_section .about_images .aboutus_img_box:hover figure img {
  filter: brightness(0) invert(1);
}
.aboutus_section .about_images .aboutus_img_box:hover .span_wrapper span,
.aboutus_section .about_images .aboutus_img_box:hover p {
  color: var(--e-global-color-white);
}
.aboutus_section .heading h6 {
  color: var(--e-global-color-secondary);
  margin-bottom: 8px;
  font-weight: 900;
}

.aboutus_section .heading h2 {
  color: var(--e-global-color-white);
  margin-bottom: 30px;
}
.aboutus_section .heading p {
  color: var(--e-global-color-white);
}
.aboutus_section .right_shape {
  top: 0%;
  right: 0%;
  z-index: 1;
  filter: brightness(0.2);
}
.span_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
