.mission_vision_section .box {
  display: inline-block;
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #434343 74%);
  width: 100%;
  padding: 50px 40px 52px;
  border-radius: 20px;
  border: 1px solid var(--e-global-color-white);
  box-shadow: 0px 19px 54px 0px rgb(181 27 65 / 5%);
  transition: all 0.3s ease-in-out;
}
.mission_vision_section {
  padding: 0px 0px 140px 0px;
}

.mission_vision_section .box:hover h4,
.mission_vision_section .box:hover p {
  color: var(--e-global-color-white);
}
.mission_vision_section .box:hover h4,
.mission_vision_section .box:hover p {
  color: var(--e-global-color-white);
}
