@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Manrope", sans-serif;
  background-color: var(--e-global-color-primary);
}
:root {
  --e-global-color-primary: #090909;
  --e-global-color-secondary: #dc0028;
  --e-global-color-text: #6d6c6c;
  --e-global-color-accent: #dc0028;
  --e-global-color-white: #ffffff;
  --e-global-color-dark-grayish: #a69ea5;
  --e-global-color-strong-red: #dc0028;
  --e-global-color-very-dark-gray: #686868;
  --e-global-color-light-gray: #f9f9f9;
  --e-global-color-very-light-gray: #ebebeb;
  --e-global-color-mostly-white: #f9f9f9;
}
h1 {
  font-size: 70px;
  line-height: 72px;
  font-weight: 800;
  color: var(--e-global-color-white);
}
h2 {
  font-size: 46px;
  line-height: 52px;
  font-weight: 800;
}
h3 {
  font-size: 42px;
  line-height: 30px;
  font-weight: 800;
}
h4 {
  font-weight: 800;
  font-size: 24px;
  line-height: 30px;
}
h5 {
  font-size: 22px;
  line-height: 30px;
  font-weight: 800;
  color: var(--e-global-color-accent);
}
h6 {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 3.2px;
}
p {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
}

a {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
}
.hover-effect {
  transition: all 0.3s ease-in-out;
}
.hover-effect:hover {
  transform: translateY(-5px);
}

.default-btn {
  padding: 20px 40px 20px 40px;
  border-radius: 100px;
  border: 1px solid var(--e-global-color-very-dark-gray);
  display: inline-block;
  color: var(--e-global-color-white);
  cursor: pointer;
}
.default-btn:hover {
  background: var(--e-global-color-strong-red);
  border: 1px solid var(--e-global-color-strong-red);
  color: var(--e-global-color-white);
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
.text-size-16 {
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
  color: var(--e-global-color-text);
}
