.banner-section-outer .banner-section {
  padding: 130px 0 268px;
}
.banner-section-outer .banner-section .banner-section-content {
  padding: 0 190px;
}
.banner-section-outer .banner-section .banner-section-content h6 {
  margin-bottom: 8px;
  color: var(--e-global-color-accent);
  font-weight: 900;
}
.banner-section-outer .banner-section .banner-section-content p {
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 26px;
  padding: 0px 150px;
}
.banner-section-outer .banner-section .banner-section-content h1 {
  font-size: 94px;
  line-height: 95px;
  margin-bottom: 25px;
}
.banner-section-outer .banner-section-content .btn_wrapper .contactus_btn {
  margin-right: 10px;
}
.contactus_btn {
  background: var(--e-global-color-accent);
  border: 1px solid var(--e-global-color-strong-red) !important;
}
.left_icons ul li svg {
  border-radius: 100%;
  color: var(--e-global-color-white);
  background-color: var(--e-global-color-strong-red);
  text-align: center;
  padding: 12px;
  transition: all 0.3s ease-in-out;
  margin: 5px 0px;
}
.left_icons {
  position: absolute;
  bottom: 50%;
  left: 10%;
}
.banner-section-outer .shape4 {
  bottom: 0;
  right: -10px;
}
